.b-content-card {
    cursor: pointer;
    &:hover {
        transform: translateY(-04px);
        box-shadow: rgba(0, 0, 0, 0.041) 0px 19px 38px, rgba(0, 0, 0, 0.041) 0px 15px 12px;
        .hover-title {
            color: #009ddc !important;
        }
    }
    &__img {
        width: auto;
        height: 15rem;
        object-fit: cover;
        object-position: center;
        @media (max-width: 576px) {
            width: 100%;
            height: 100%;
            object-fit: inherit;
        }
    }
}

.custom-txt {
    color: rgb(98, 98, 98);
    font-weight: 500;
}
