.b-main-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2rem 1rem;
    &__title {
        font-weight: 500;
        font-size: 26px;
        @media (min-width: 576px) {
            font-size: 33px;
        }
        @media (min-width: 992px) {
            font-size: 40px;
        }
        @media (min-width: 1200px) {
            font-size: 47px;
        }
    }
    &__subtitle {
        font-size: 19px;
        color: rgb(98, 98, 98);
        @media (min-width: 576px) {
            font-size: 24px;
        }
        @media (min-width: 992px) {
            font-size: 29.1px;
        }
        @media (min-width: 1200px) {
            font-size: 34px;
        }
    }
}

.disabled {
    pointer-events: none;
}

.b-content-btn {
    width: 100%;
    min-height: 3rem;
    margin-top: 1rem;
    display: flex;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.221) 0 0px 20px 5px, rgba(0, 0, 0, 0.044) 0 0px 15px 12px;
    bottom: 0;
    &:hover {
        background-color: #d8d8d8cd;
        box-shadow: rgba(0, 0, 0, 0.181) 0 0px 30px 15px, rgba(0, 0, 0, 0.056) 0 0px 15px 12px;
    }
    &__btn {
        font-size: 12.5px !important;
        padding: 0.17rem 2rem !important;
        margin: 0 0.5rem;
        @media (min-width: 576px) {
            font-size: 14px !important;
            margin: 0 1rem;
        }
        @media (min-width: 768px) {
            font-size: 16.5px !important;
            margin: 0 1.5rem;
        }
    }}
