.m-custom-loading {
    margin-top: 15rem;
}

.b-api-error {
    margin-top: 3rem;
    @media (min-width: 576px) {
        margin-top: 7rem;
    }
    &__txt {
        font-family: monospace;
        font-weight: 600;
        margin-bottom: 1rem !important;
        @media (min-width: 576px) {
            font-size: 18px;
        }
    }
    &__img {
        width: 11rem;
        height: 11rem;
        border: 3px solid #000000;
        border-radius: 20rem;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
        &:hover {
            -webkit-animation: rotate-center 0.7s ease-in-out both;
            animation: rotate-center 0.7s ease-in-out both;
            @-webkit-keyframes rotate-center {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
            @keyframes rotate-center {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.b-main-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2rem 1rem;
    &__title {
        font-weight: 500;
        font-size: 26px;
        @media (min-width: 576px) {
            font-size: 33px;
        }
        @media (min-width: 992px) {
            font-size: 40px;
        }
        @media (min-width: 1200px) {
            font-size: 47px;
        }
    }
    &__subtitle {
        font-size: 19px;
        color: rgb(98, 98, 98);
        @media (min-width: 576px) {
            font-size: 24px;
        }
        @media (min-width: 992px) {
            font-size: 29.1px;
        }
        @media (min-width: 1200px) {
            font-size: 34px;
        }
    }
}

.m-custom-list {
    margin: 1.5rem 0 3rem 0;
    @media (min-width: 768px) {
        margin: 3rem 0 6rem 0;
    }
}

.b-content-btn {
    width: 100%;
    min-height: 3rem;
    margin-top: 1rem;
    display: flex;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    position: fixed;
    bottom: 0;
    @media (min-width: 992px) {
        min-height: 4rem;
    }
    &:hover {
        background-color: #d8d8d8cd;
    }
    &__btn {
        font-size: 12.5px !important;
        padding: 0.17rem 2rem !important;
        margin: 0 0.5rem;
        &:hover {
            background-color: #ffffff !important;
            color: #000000 !important;
            font-weight: 600;
        }
        @media (min-width: 576px) {
            font-size: 14px !important;
            margin: 0 1rem;
        }
        @media (min-width: 768px) {
            font-size: 16.5px !important;
            margin: 0 1.5rem;
        }
    }
}

.disabled {
    pointer-events: none;
}
